.add-filing-form {
	.form-row {
		display: flex;
		gap: 30px;
		margin-bottom: 30px;

		.form-column {
			flex: 1;

			.full-width {
				flex: 100%;
			}
		}
	}
}

.filing-table-main-actions {
	& > div {
		box-shadow: -1px 0px 4px 1px rgb(213 213 213) !important;

		& > ul {
			border-radius: 5px;
		}
	}
}
