.topnav {
	background-color: white !important;
}

// Profile Menu Styles
.profile-menu {
	.profile-button {
		padding: 0px !important;

		.icon {
			font-size: 30px;
			color: black !important;
		}
	}
}
