.topnav {
	background-color: #0064ff !important;
}

// Profile Menu Styles
.profile-menu {
	.profile-button {
		padding: 0px !important;

		.icon {
			font-size: 40px;
			color: white !important;
		}
	}
}
